.line {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.page1 {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.first_h2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 2.645vw;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-align: right;
  margin-right: 55px;
}

.title {
  margin-left: 128px;
  display: flex;
  justify-content: space-between;
}

.getlink_h1 {
  position: relative;
  color: #fff;
  font-family: Clash Display;
  font-size: 6vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  top: 91px;
  width: max-content;
  height: 91px;
}

.hackathon_h1 {
  margin: 0;
  position: relative;
  top: 72px;
  color: #fff;
  font-family: Clash Display;
  font-size: 6vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 91px;
}

.one {
  color: #d434fe;
  font-family: Clash Display;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title_div {
  margin-top: 80px;
}

.title_p {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.45vw;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  width: 522px;
  height: 66px;
}

.countdown {

  color: #fff;
  font-family: Unica One;
  font-size: 5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
  position: relative;
  top: 3vw;
  margin-bottom: 7vw;

}

.countdown span {
  color: #fff;
  font-family: Montserrat;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
}

.man_image {
  top: 5.2vw;
  position: relative;
  right: 0vw;
  overflow: hidden;
  height: 39.5vw;
}

.man_image img {
  width: 46vw;
  filter: grayscale(1);
}

.page2 {
  display: flex;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  gap: 8vw;
  align-items: center;
}

h2 {
  color: #fff;
  font-family: Clash Display;
  font-size: 2.3vw;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 1.67vw;
}

.page2_h2 {
  width: 34vw;;
}

span {
  color: #d434fe;
}

p {
  color: #fff;
  font-family: Montserrat;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6vw;
}

.page2_p,
.page3_p {
  width: 38vw;
}

.page3 {
  display: flex;
  gap: 48px;
  align-items: center;
  position: relative;
  left: 169px;
}

.page3_h2 {
  width: 170px;
}

.page4 {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10vw;
  margin-top: 8vw;

}

.page4_h2 {
  width: 20vw;
}

.page4_h2 span {
  font-size: 2.3vw !important;
  color: #d434fe;
}

.page4 p {
  width: 39vw;
}

.page4 span {
  color: #d434fe;
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
}

.page5 {
  display: flex;
  align-items: center;
  position: relative;
  left: 10vw;
  top: 4.625rem;
  margin-bottom: 166px;
}

.questions {
  position: relative;
  display: flex;
  left: 5vw;
  bottom: -2vw;
}

.q1{
  color: #a866fd;
  font-family: MADE TOMMY Outline;
  font-size: 7.1vw;
  font-style: normal;
  font-weight: 500;
  width: 13vw;
  height: 5vw;
  line-height: 2vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.q2 {
  color: #d434fe;
  font-family: MADE TOMMY Outline;
  font-size: 9vw;
  font-style: normal;
  font-weight: 500;
  line-height: 2vw;
   
}

.q3 {
  color: #a866fd;
  font-family: MADE TOMMY Outline;
  font-size: 7.1vw;
  font-style: normal;
  font-weight: 500;
  width: 13vw;
  height: 5vw;
  line-height: 2vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.page5_div_h2_p{
  margin-bottom: 68px;
}

.page5_div_h2_p h2{
  width: 19vw;
  color: #FFF;
  font-family: Clash Display;
  font-size: 2.4vw;
  font-style: normal;
  font-weight: 700;
}

.page5_div_h2_p p{
  width: 25vw;
}

.page5_div_p p{
  margin-bottom: 2vw;
  border-bottom: 1px solid #D434FE;
  width: 32vw;
  height: 3vw;
}

.page5_div_p span{
  color: #D434FE;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  float: right;
}

strong{
  font-weight: 700;
}

.page6{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14vw;
}

.page6_h2{
margin-top: 4.5rem;
color: #FFF;
font-family: Clash Display;
font-size: 2rem;
font-style: normal;
font-weight: 700;
text-align: center;
}

.page6_p1{
  margin-top: 0.75vw;
  width: 25vw;
  color: #FFF;
  font-family: Montserrat;
  font-size: 0.95vw;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 172.4%; 
}

.page6 h2{
color: #D434FE;
font-family: Montserrat;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.aside_page6{
  position: relative;
  top: 5.69rem;
  left: 2.5rem;
}

.aside_div1 div{
  width: fit-content;
}


.aside_div1 p{
  right: 7vw;
  text-align: right;
  font-size: 1.035vw;
  width: 32vw;
  position: relative;
}

h3{
  color: #D434FE;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 27.25rem;
}

.div_wrapper{
  display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.line_div{
  border-right:  0.25rem solid #D434FE ;
  display: block;
  height: 8.5625rem;
}

/* .line_div, .aside_div2,.aside_div3,.aside_div4,.aside_div5,.aside_div6{
height: 5.375rem;
} */

.line_span{
  display: flex;
  color: #FFF;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: normal;
  width: 3.3125rem;
  height: 3.3125rem;
  border-radius: 1.65625rem;
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
  align-items: center;
  justify-content: center;
}


.aside_div1,.aside_div2,.aside_div3,.aside_div4,.aside_div5,.aside_div6{
  display: flex;
  align-items: center;
}

.aside_div1 h3{
  position: relative;
  left: 5.38rem;
}



.aside_div2 div{
 position: relative;
}

.aside_div2 h2{
  position: relative;
  left: 6.6vw;
}

.aside_div2 h3{
  text-align: end;
  right: 7vw;
  position: relative;
}

.aside_div2 p{
  position: relative;
  font-size: 1.035vw;
  width: 35vw;
  left: 6.6vw;
}

.aside_div2 .div_wrapper{
  
  top: 1.25rem;
}

.aside_div3 h2{
  position: relative;
  left: 2.2vw;
}

.aside_div3 p{
  text-align: right;
  font-size: 1.035vw;
  width: 28vw;
  position: relative;
  right: 3.1vw;
}

.aside_div3 h3{
  position: relative;
  left: 9.7rem;
}

.aside_div3 .div_wrapper{
  position: relative;
  left: 3rem;
  bottom: -2rem;
}

.aside_div4 h2{
  width: 30.325rem;
  position: relative;
  left: 6.8rem;
}

.aside_div4 h3{
  position: relative;
  left: 7.8vw;
}

.aside_div4 p{
  font-size: 1rem;
  left: 6.8rem;
    position: relative;
    width: 30.3125rem;
}

.aside_div4 .div_wrapper{
  position: relative;
  bottom: -3rem;
}

.aside_div5 h2{
  width: 31.9375rem;
    position: relative;
    right: 8.8rem;
}

.aside_div5 h3{
  position: relative;
  left: 3rem;
}

.aside_div5 p{
  width: 24.125rem;
    text-align: right;
    font-size: 1rem;
    position: relative;
    right: 1.2rem;
}

.aside_div5 .div_wrapper{
  position: relative;
  left: -4.7rem;
  bottom: -4rem;
}

.aside_div6 h2{
  position: relative;
  left: 7.6rem;
}

.aside_div6 h3{
  position: relative;
  left: 8.4rem;
}

.aside_div6 p{
  width: 30.0625rem;
  position: relative;
  left: 7.8rem;
}

.aside_div6 .div_wrapper{
  position: relative;
  bottom: -4rem;
}

.page7{
  margin-bottom: 8rem;
    margin-top: 10rem;
}

.prizes{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-left: 2.75rem;
}

.award{
  width: 34.25rem;
height: 30.125rem;
}

.page7 h2{
  width: 13vw;
  margin-left: 62.62vw;
}

.page7 p{
  margin-left: 62.62vw;
  width: 27vw;
}

.medals{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 15rem;
}

.silver{
  display: flex;
  width: 15vw;
  height: 21.7vw;
  border-radius: 0.5rem;
  border: 1px solid #D434FE;
  background: rgba(212, 52, 254, 0.12);
  flex-direction: column;
  align-items: center;
}

.silver img{
  width: 13.5vw;
  height: 13.5vw;
  position: relative;
  bottom: 6.4vw;
}

.medals h3{
  width: 5.75vw;
  color: #FFF;
  font-family: Montserrat;
  font-size: 2.25vw;
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.medals span{
  color: #FFF;
font-size: 1.5rem;
font-weight: 600;
}

.medals h5{
  color: #D434FE;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  width: auto;
}

.gold{
  border-radius: 0.5rem;
  border: 1px solid #903AFF;
  background: rgba(144, 58, 255, 0.12);
  width: 15vw;
  height: 25.5vw;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.gold img{
  width: 22vw;
  height: 22vw;
  position: relative;
  bottom: 10vw;
}

.gold h3, .gold h5{
  position:relative;
  bottom:7rem;
}

.bronze{
  display: flex;
  width: 15vw;
  height: 21.7vw;
  border-radius: 0.5rem;
  border: 1px solid #D434FE;
  background: rgba(212, 52, 254, 0.12);
  flex-direction: column;
  align-items: center;
}

.silver h3, .silver h5,.bronze h3, .bronze h5{
  position: relative;
  bottom: 3.3vw;
}

.bronze img{
  width: 13.5vw;
  height: 13.5vw;
  position: relative;
  bottom: 6.4vw;
}

.page8{
  display: flex;
  justify-content: center;
  margin-top: 2.17rem;
  flex-direction: column;
  align-items: center;
}

.page8 h2{
  color: #FFF;
font-family: Clash Display;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 1.71875rem;
width:23.5rem;
}

.page8 p{
  color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.71875rem; 
width:28.25rem;
}

.ps{
  display: flex;
  width: 78.45rem;
  height: 35rem;
  border-radius: 0.3125rem;
  border: 1px solid #D434FE;
  background: rgba(255, 255, 255, 0.01);
  justify-content: center;
  align-items: center;
}

.ps img{
height: fit-content;
}


.page9{
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  margin-left: 169px;
  gap: 3rem;
  align-items: center;
}

.page9 h2{
  color: #FFF;
font-family: Clash Display;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
width:18.75rem;
}

.page9 h4{
  color: rgba(255, 255, 255, 0.75);
font-family: Montserrat;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.71875rem;
}

.page9 p{
margin-top:1.88rem;
width:27.375rem;
font-size: 0.875rem;
font-weight: 400;
line-height: 188.4%;
}

.page9_div1{
  border-radius: 0.3125rem;
  border: 1px solid #D434FE;
  background: rgba(217, 217, 217, 0.03);
  width: 35.5625rem;
  height: 38rem;
  padding: 1rem;
}

.page9_div1 p{
  font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 216.4%;
}

.page9_div1 h2{
  color:#D434FE;
  font-family:montserrat;
  font-size:16px;
  font-weight:700px;
  line-height:34.624px;
  width:auto;
}

.page9_div1 h3{
  color:#fff;
  font-family: Montserrat;
  font-size:14px;
  font-weight:700;
  line-height:30.290px;
}

.page_div ul{
  list-style-type: none;
}

.page9_div1 li{
color:#fff;
font-family: Montserrat;
font: size 14px;font-weight:500;
line-height:30.296px;
}

